@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --Dark-Blue: #2B4560;
  --Midnight-Blue: #2F6D80;
  --Tiffany-Blue: #6AA4B0;
  --Ivory: #E1E7E0;
}

body {
  height: 100vh;
  margin: 0px;
  background: var(--Dark-Blue);
  font-family: 'Space Mono', monospace;
}

button {
  font-family: 'Space Mono', monospace;
}

.global-text-input {
  margin: 1%;
  border: solid 1px black;
  padding: 1rem;
  color: black;
  text-align: center;
  font-size: x-large;
  font-weight: lighter;
  background-color: var(--Midnight-Blue);
  border-radius: 2rem;
  outline: black 2px solid;
  transition: transform 300ms ease, border 300ms, outline 300ms ease;
  position: relative;
}

.global-text-input:hover {
  background-color: var(--Ivory);
}

.global-text-input::placeholder {
  color: rgba(20, 20, 20, 0.4);
  font-weight: bolder;
}

.global-text-input:focus-visible {
  transform: scale(1.2);
  background-color: var(--Ivory);
  border: solid 1px black;
  outline: solid 2px var(--Ivory);
}

.global-text-input.err {
  background-color: rgba(221, 160, 160, 0.904);

}

.global-button {
  font-size: large;
  background-color: transparent;
  color: var(--Ivory);
  border: none;
  padding: 0.5rem;
  transition: all 200ms;
}

.global-button:hover {
  color: black;
  background-color: var(--Ivory);
  border: solid 0px;
  border-radius: 1rem;
  cursor: pointer;
}

.global-button:active {
  background-color: var(--Dark-Blue);
}

.all-thoughts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thought-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background: var(--Ivory);
  border: solid 1px;
  border-radius: 1rem;
  width: 50%;
  text-align: center;
}
.thought-title{
  font-weight: bold;
  
}
.thought-username {
  align-self: flex-end;
  font-weight: bold;
}