@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --Dark-Blue: #2B4560;
  --Midnight-Blue: #2F6D80;
  --Tiffany-Blue: #6AA4B0;
  --Ivory: #E1E7E0;
}

body {
  height: 100vh;
  margin: 0px;
  background: var(--Dark-Blue);
  font-family: 'Space Mono', monospace;
}

button {
  font-family: 'Space Mono', monospace;
}