/* flex justify-end bg-blue-200  */
:root {
    --Dark-Blue: #2B4560;
    --Midnight-Blue: #2F6D80;
    --Tiffany-Blue: #6AA4B0;
    --Ivory: #E1E7E0;
}

.navbar-container {
    top: 0;
    display: block;
    flex-direction: column;
    position: fixed;
    padding: auto;
    height: 100vh;
    background-color: var(--Tiffany-Blue);
    border-right: solid 5px var(--Ivory);
}

.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 1rem;
}

.navbar-content svg {
    font-size: xxx-large;
}

/* @media only screen and (max-width: 600px) {
    .navbar-container {
        justify-content: space-around;
    }
} */