:root {
    --Dark-Blue: #2B4560;
    --Midnight-Blue: #2F6D80;
    --Tiffany-Blue: #6AA4B0;
    --Ivory: #E1E7E0;
}

.signin-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.validation-message.err {
    color: rgb(216, 103, 103);
}

.validation-message.succ {
    color: rgb(103, 216, 150);
}

@media only screen and (max-width: 600px) {
    .email-input:focus-visible {
        transform: none;
    }

    .validation-message {
        padding: 1rem;
    }
}